<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27887611849-garp69imd1thtgkf806i4sun1qqkqu6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27887611849-garp69imd1thtgkf806i4sun1qqkqu6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAtOA2tTY3vJv133c1S2BSPAANwfvtn8Is</string>
	<key>GCM_SENDER_ID</key>
	<string>27887611849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polypharmacy.app</string>
	<key>PROJECT_ID</key>
	<string>polypharmacyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>polypharmacyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27887611849:ios:44741e9f4f1bff97498218</string>
</dict>
</plist>